/*
 * Grid System
 */

.container {
    width: 100%;
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $grid-break-points-sm) {
        max-width: $container-max-widths-sm;
    }
    @media (min-width: $grid-break-points-md) {
        max-width: $container-max-widths-md;
    }
    @media (min-width: $grid-break-points-lg) {
        max-width: $container-max-widths-lg;
    }
    @media (min-width: $grid-break-points-xl) {
        max-width: $container-max-widths-xl;
    }
}


.container-fluid {
    width: 100%;
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
    margin-left: auto;
    margin-right: auto;
}